In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([
            ['green', 'M', 10.1, 'class1'], 
            ['red', 'L', 13.5, 'class2'], 
            ['blue', 'XL', 15.3, 'class1']])

In [3]:
df.columns = ['color', 'size', 'prize', 'class label']

In [4]:
size_mapping = {
           'XL': 3,
           'L': 2,
           'M': 1}

In [5]:
df['size'] = df['size'].map(size_mapping)

In [6]:
df

   color  size  prize class label
0  green     1   10.1      class1
1    red     2   13.5      class2
2   blue     3   15.3      class1

In [7]:
class_mapping = {label:idx for idx,label in enumerate(set(df['class label']))}
df['class label'] = df['class label'].map(class_mapping)

In [8]:
df

   color  size  prize  class label
0  green     1   10.1            0
1    red     2   13.5            1
2   blue     3   15.3            0

In [9]:
s = pd.Series(list('abca'))
s

0    a
1    b
2    c
3    a
dtype: object

In [10]:
pd.get_dummies(s)

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0